<div class="login-wrapper container" fxLayout="row" fxLayoutAlign="center center">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12">
            <h2 class="text-center">Recovery Password</h2>
            <mat-horizontal-stepper [linear]="true" #stepper class="h-sep bg-none">
                <mat-step [stepControl]="FormEmail" color="warn">
                    <form [formGroup]="FormEmail" class="w-lg-50 w-md-75 w-sm-100 w-100 m-auto" autocomplete="off">
                        <ng-template matStepLabel>Email</ng-template>
                        <mat-form-field class="example-full-width mb-1" color="warn" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="frist name" type="email" formControlName="Email"
                                autocomplete="off">
                            <mat-error *ngIf="f1.Email.hasError('required') && !f1.Email.hasError('pattern') ">
                                email required
                            </mat-error>
                            <mat-error *ngIf="f1.Email.hasError('pattern') && !f1.Email.hasError('required') ">
                                wrong email format
                            </mat-error>
                        </mat-form-field>
                        <div style="text-align: -webkit-center;  overflow: hidden; border-radius: 5px;" class="mb-3"  *ngIf="!CheckRegister" >
                            <re-captcha (resolved)="resolved($event)"
                                siteKey="6Lc5Uc0UAAAAAIoD91xstS87KRtGgy-UBiEj8pMs"></re-captcha>
                        </div>
                        <div class="text-center">
                            <button mat-stroked-button color="warn" *ngIf="!CheckRegister "
                                [disabled]="!FormEmail.valid || !tokencaptcha" (click)="submit(stepper)" matStepperNext
                                class="w-100 m-auto">
                                Submit
                            </button>
                            <button mat-stroked-button color="warn" *ngIf="CheckRegister" [disabled]="true"
                                matStepperNext class="w-100 m-auto">
                                Submit
                            </button>
                        </div>
                    </form> 
                </mat-step> 
                <mat-step color="warn" *ngIf="CheckRegister">
                    <div class="w-lg-50 w-md-75 w-sm-100 w-100 m-auto text-center">
                        <span _ngcontent-wik-c138="" class="material-icons ng-tns-c138-1"
                            style="  font-size: 180px;  color: #f44336; "> mail </span>
                        <h2>An email has been sent to retrieve your password</h2>
                        <button mat-stroked-button color="warn" class="w-100 m-auto"
                            [routerLink]="['/teacher/auth/login']">
                            Login
                        </button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>