<h1 mat-dialog-title class="text-center zoomtable mb-3">Delete activity send</h1>
<div mat-dialog-content class=" zoomtable text-center">
    <p>Are you sure to delete this activity?</p>
</div>
<div mat-dialog-actions align="center" class=" zoomtable">
    <button mat-stroked-button class="ccng-Btn-outln-scss align-text-center  " color="accent"
        (click)="response(true)">Yes</button>
    <button mat-stroked-button class="ccng-Btn-outln-scss align-text-center  " color="warn"
        (click)="response(false)">Cancel</button>
</div>