<div class="login-wrapper container" fxLayout="row" fxLayoutAlign="center center">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12">
            <h2 class="text-center">Change Password</h2>
            <mat-horizontal-stepper [linear]="true" #stepper class=" h-sep bg-none">
                <mat-step [stepControl]="FormChangePassword" color="warn">
                    <form [formGroup]="FormChangePassword" class="w-lg-50 w-md-75 w-sm-100 w-100 m-auto" autocomplete="off">
                        <ng-template matStepLabel>New password</ng-template>
                        <mat-form-field class="example-full-width mb-1" color="warn" appearance="fill"
                            id="input-password-field">
                            <mat-label>New password</mat-label>
                            <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="new assword" id="input-password" formControlName="newPassword"
                                autocomplete="new-password" >
                            <mat-error
                                *ngIf="f1.newPassword.hasError('required') && !f1.newPassword.hasError('equals') && !f1.newPassword.hasError('pattern')">
                                Confirm password required
                            </mat-error>
                            <mat-error
                                *ngIf="f1.newPassword.hasError('equals') && !f1.newPassword.hasError('required') && !f1.newPassword.hasError('pattern')">
                                passwords must be the same
                            </mat-error>
                            <mat-error
                                *ngIf="f1.newPassword.hasError('pattern') && !f1.newPassword.hasError('required') && !f1.newPassword.hasError('equals')">
                                accepted format (a-z, A-Z, 0-9, (.), @ , _ , - )
                            </mat-error>
                            <button mat-icon-button matSuffix (click)="hide1 = !hide1"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field class="example-full-width mb-1" color="warn" appearance="fill">
                            <mat-label>Confirm password</mat-label>
                            <input matInput [type]="hide2 ? 'password' : 'text'" placeholder="Confirm Password"
                                formControlName="confiPassword" autocomplete="new-password" >
                            <mat-error
                                *ngIf="f1.confiPassword.hasError('required') || !f1.confiPassword.hasError('equals') ">
                                Confirm password required
                            </mat-error>
                            <mat-error
                                *ngIf="f1.confiPassword.hasError('equals') && !f1.confiPassword.hasError('required') ">
                                passwords must be the same
                            </mat-error>
                            <button mat-icon-button matSuffix (click)="hide2 = !hide2"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <div style="text-align: -webkit-center;  overflow: hidden; border-radius: 5px;" class="mb-3"  *ngIf="!CheckUpdate" >
                            <re-captcha (resolved)="resolved($event)"
                                siteKey="6Lc5Uc0UAAAAAIoD91xstS87KRtGgy-UBiEj8pMs"></re-captcha>
                        </div>
                        <div class="text-center">
                            <button mat-stroked-button color="warn" *ngIf="!CheckUpdate "
                                [disabled]="!FormChangePassword.valid || !tokencaptcha" (click)="submit(stepper)" matStepperNext
                                class="w-100 m-auto">
                                Submit
                            </button>
                            <button mat-stroked-button color="warn" *ngIf="CheckUpdate" [disabled]="true"
                                matStepperNext class="w-100 m-auto">
                                Submit
                            </button>
                        </div>
                    </form>

                </mat-step>

                <mat-step color="warn" *ngIf="CheckUpdate">
                    <div class="w-lg-50 w-md-75 w-sm-100 w-100 m-auto text-center">
                        <span _ngcontent-wik-c138="" class="material-icons ng-tns-c138-1"
                            style="  font-size: 180px;  color: #f44336; "> done </span>
                        <h2>successfully updated password</h2>
                        <button mat-stroked-button color="warn" class="w-100 m-auto"
                            [routerLink]="['/teacher/auth/login']">
                            Login
                        </button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>